<html>

<head>
    <title>Sensor Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="section">

            {% for message in get_flashed_messages() %}
            <div class="notification">
                {{ message }}
            </div>
            {% endfor %}

            <h1 class="title">Sensor Configuration</h1>
            <form action="/update_settings" method="post">
                <h2 class="subtitle">Account Info</h2>
                <div class="field">
                    <label class="label">User ID</label>
                    <div class="control">
                        <input class="input" type="text" name="userid" value="{{ settings['userid'] }}"
                            placeholder="User ID">
                    </div>
                </div>

                <h2 class="subtitle">Temperature (degrees Celsius)</h2>
                <div class="field">
                    <label class="label">High</label>
                    <div class="control">
                        <input class="input" type="text" name="high_temp" maxlength="3" value="{{ settings['high_temp'] }}"
                            placeholder="degrees Celsius">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Low</label>
                    <div class="control">
                        <input class="input" type="text" name="low_temp" maxlength="3" value="{{ settings['low_temp'] }}"
                            placeholder="degrees Celsius">
                    </div>
                </div>

                <h2 class="subtitle">Humidity (%)</h2>
                <div class="field">
                    <label class="label">High</label>
                    <div class="control">
                        <input class="input" type="text" name="high_humidity" maxlength="2" value="{{ settings['high_humidity'] }}"
                            placeholder="% humidity">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Low</label>
                    <div class="control">
                        <input class="input" type="text" name="low_humidity" maxlength="2" value="{{ settings['low_humidity'] }}"
                            placeholder="% humidity">
                    </div>
                </div>

                <h2 class="subtitle">Pressure (Millibars)</h2>
                <div class="field">
                    <label class="label">High</label>
                    <div class="control">
                        <input class="input" type="text" name="high_pressure" maxlength="4" value="{{ settings['high_pressure'] }}"
                            placeholder="Millibars">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Low</label>
                    <div class="control">
                        <input class="input" type="text" name="low_pressure" maxlength="4" value="{{ settings['low_pressure'] }}"
                            placeholder="Millibars">
                    </div>
                </div>

                <h2 class="subtitle">Update Frequency (seconds)</h2>
                <div class="field">
                    <label class="label">Update every</label>
                    <div class="control">
                        <input class="input" type="text" name="polling_frequency"
                            value="{{ settings['polling_frequency'] }}" placeholder="seconds">
                    </div>
                </div>

                <div class="control">
                    <input class="button" type="submit" value="Update Settings">
                </div>
            </form>
        </div>
    </div>
</body>

</html>